body{
    margin: 100px auto;
}

.sectionadmin{
    margin:0px auto 80px;
    width: 80%;
    height: 48%;
    border: 4px black solid;
    background-color: bisque;
    overflow: auto;    
}

h1{
    text-align: center;
}

table,td{
    font-size: 1.2vw;
    margin:0px auto 30px;
   text-align: center;
   border: 4px black solid;

