body, html{
    height: 100%;
    margin: 0;
}



/*-----------------------HEADER / FOOTER-------------------*/
/*-----------------------HEADER / FOOTER-------------------*/
/*-----------------------HEADER / FOOTER-------------------*/
/*-----------------------HEADER / FOOTER-------------------*/
/*-----------------------HEADER / FOOTER-------------------*/
/*-----------------------HEADER / FOOTER-------------------*/
/*-----------------------HEADER / FOOTER-------------------*/
/*-----------------------HEADER / FOOTER-------------------*/

header{
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0 ;
}

#topofheader{
    height: 100px;
    background-color: orange;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

#sardinelogo{
    width: 50%;
}

#h1titre{
    text-align: center;
    font-size: 35px;
    font-family: 'Fjalla One';
}

#headermenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    background-color: rgb(156, 156, 156);
    font-family: 'Roboto';
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

header a
{
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
}

#headermenu a:hover{
    background-color: rgba( 238, 238, 238, 0.281);
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
}


footer a
{
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
}

#footermenu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    background-color: rgb(156, 156, 156);
    font-family: 'Roboto';
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

#footermenu a:hover{
    background-color: rgba( 238, 238, 238, 0.281);
}









/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/


#bodyindex{
    background-image: url(img/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
}

#mainindex{
    
}


#titreIndex{
    background-image: radial-gradient(red, green);
    font-size: 30px ;
    width: 100% ;
    padding-top: 1px;
    height: 150px ;
    text-align: center;
}

#titreIndex a{
    color: white;
}


#tableReservation{
    margin-top: 5%;
    padding-top: 10%;
    
}


.tableindex{
    font-size: 2vw;
    margin-top: 10%;
    padding:15px;
    text-align: center;
    border: 4px black solid;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.tableindex a {
    color: white ;
}



/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/

#bodyInscription{
    padding-top: 10%;
    background-image: url("img/inscription.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}

#fullFormInscription{
    
    height: 300px ;
    margin: 0 auto ;
    margin-top: 5% ;
    padding-top: 3% ;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
    border : 10px solid white   ;
}

#titreInscription{
    color: white ;
    font-size: 30px ;
    background-color: rgb(255, 0, 0, 0.5);
    width: 50%;
    margin: 0 auto ;
}

#formInscription{
    width: 50% ;
    margin: 0 auto ;
    color: red ;
    background-color:  rgb(255, 223, 195, 0.5) ;
}

#buttonInscription{
    width: 30% ;
    margin: 0 auto ;
    margin-top: 3%;
    background-color: rgb(255, 136, 62, 0.5);
    border-radius: 10px;

}


#buttonInscription input {
    border-radius: 10px ;
    
}




/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/

#bodyConnexion{
    background-image: url(img/connexion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
}

#fullFormConnexion{
   height: 300px ;
    margin: 0 auto ;
    margin-top: 5% ;
    padding-top: 3% ;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
    border : 10px solid white   ;
}

#titreConnexion{
    color: white ;
    font-size: 30px ;
    background-color: rgb(255, 0, 0, 0.5);
    width: 50%;
    margin: 0 auto ;
}

#formConnexion{
    font-size: 20px;
    
    width: 50% ;
    margin: 0 auto ;
    color: red ;
    background-color:  rgb(255, 223, 195, 0.5) ;
}

#buttonConnexion{
    width: 30% ;
    margin: 0 auto ;
    margin-top: 3%;
    background-color: rgb(255, 136, 62, 0.5);
    border-radius: 10px;

}


#buttonConnexion input {
    border-radius: 10px ;
    
}



/*-----------------------Reservation-------------------*/
/*-----------------------Reservation-------------------*/
/*-----------------------Reservation-------------------*/
/*-----------------------Reservation-------------------*/
/*-----------------------Reservation-------------------*/
/*-----------------------Reservation-------------------*/
/*-----------------------Reservation-------------------*/
/*-----------------------Reservation-------------------*/

#mainReservation{
    padding-top : 10% ;
    background-image: url(img/resabackground.jpg);
    background-size: cover;
     height: 870px;
    
}

#sectionFormReservation{
    background-color: red;
}

#formReservation{
    width: 50%;
    margin : 0 auto;
    background-color: blue;
    padding: 2%;
    text-align: center;
}


/*-----------------------PROFIL-------------------*/
/*-----------------------PROFIL-------------------*/
/*-----------------------PROFIL-------------------*/
/*-----------------------PROFIL-------------------*/
/*-----------------------PROFIL-------------------*/
/*-----------------------PROFIL-------------------*/
/*-----------------------PROFIL-------------------*/
/*-----------------------PROFIL-------------------*/


#mainprofil{
    padding-top: 10%;
    background-image: url(img/profilbackground.jpg);
    background-size: cover;
     height: 870px;
}


.formulaireprofil{
    width: 30%;
    height: 400px;
    margin: 0 auto ;
    text-align: center;
    color: white;
    background-color: rgb(232, 13, 12, 0.5);
}

#titreprofil{

}

.infoprofil{
    padding : 3%;
    margin: 0 auto ;
    width: 40%;
    height: 200px;
    text-align: center;
    background-color: rgb(255, 120, 13, 0.5);
}

#reservationUser{
    margin: 0 auto ;
    width: 50%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5); ;
    font-size: 20px;
    color: white ;
}

#tableauReservation{
    margin: 0 auto ;
    width: 50%;
    text-align: center;
    background-color: white ;
    color: black;
}

#tableReservation{
    border-collapse: collapse;

}

#tableReservation tr, td {
    border-style: solid;
}

#actionUser{

}


/*-----------------------Planning-------------------*/
/*-----------------------Planning-------------------*/
/*-----------------------Planning-------------------*/
/*-----------------------Planning-------------------*/
/*-----------------------Planning-------------------*/
/*-----------------------Planning-------------------*/
/*-----------------------Planning-------------------*/
/*-----------------------Planning-------------------*/

#bodyPlanning{
    padding-top: 10%;
    background-image: url(img/backplanning.jpg);
    background-size: cover;
}

#titrePlanning{
    margin : 0 auto ;
    width: 50%;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
}

.tablePlanning{
    margin: 0 auto ;
    background-color: rgb(0, 0, 0);
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    color :white;
}

.tablePlanning a{
    color: red;
}



/*-----------------------Admin-------------------*/
/*-----------------------Admin-------------------*/
/*-----------------------Admin-------------------*/
/*-----------------------Admin-------------------*/
/*-----------------------Admin-------------------*/
/*-----------------------Admin-------------------*/
/*-----------------------Admin-------------------*/
/*-----------------------Admin-------------------*/

#bodyAdmin{
    padding-top: 10%;
    background-image: url(img/adminbackground.jpg);
    background-size: cover ;
     
}

#titreAdmin{
    margin: 0 auto ;
    width: 50%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: white ;
    font-size: 20px ;
}

.sectionadmin{
    
    margin:0px auto 130px;
    width: 50%;
    height: 280px;
    border: 10px black solid;
    border-radius: 2em 0em 0em 2em;
    background-color: bisque;
    overflow: scroll;    
}


.infoEmplacement{
    margin: 0 auto ;
    width: 50%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: white ;
    font-size: 20px;
}

#modifPrix{
    margin: 0 auto ;
    width: 50%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: white ;
    font-size: 20px ;
}







.erreur{

    margin: 0 auto ;
    width: 50%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: white ;
    font-size: 20px ;
}