@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');


body{
    margin: 0;
    padding: 0;
}

.sectionadmin{
    
    margin:0px auto 130px;
    width: 50%;
    height: 50%;
    border: 10px black solid;
    border-radius: 2em 0em 0em 2em;
    background-color: bisque;
    overflow: auto;    
}

form{
    text-align: center;
}

/*-----------------------HEADER-------------------*/
/*-----------------------HEADER-------------------*/
/*-----------------------HEADER-------------------*/
/*-----------------------HEADER-------------------*/
/*-----------------------HEADER-------------------*/
/*-----------------------HEADER-------------------*/
/*-----------------------HEADER-------------------*/
/*-----------------------HEADER-------------------*/

header{
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}

#topofheader{
    height: 100px;
    background-color: orange;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

#sardinelogo{
    width: 50%;
}

#h1titre{
    text-align: center;
    font-size: 35px;
    font-family: 'Fjalla One';
}

#headermenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    background-color: rgb(156, 156, 156);
    font-family: 'Roboto';
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

header a
{
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
}

#headermenu a:hover{
    background-color: rgba( 238, 238, 238, 0.281);
}

/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/

#bodyindex{
    background-image:URL('img/campingindexbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}

.tableindex{
    font-size: 25px;
    padding:15px;
    text-align: center;
    color: black;
    margin-left: 25%;
}

.tableindex a
{
text-decoration: none;
font-family: 'Roboto';
color: black;
}

#topofindexform{
    padding-top: 150px;
    color: black;
    text-align: center;
    font-size: 25px;
    font-family:'Roboto';
}

#topofindexform a:hover{
    background-color: black;
    color: white;
}

.statutUser{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    font-size: xx-large;
    width: 100%;
    height: 10%;
    background-color: red;
}

#formsectionindex{
    padding-top:10%;
}

#indexflex{
    background-color: rgba(255, 255, 255, 0.897);
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    height: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/

#bodyInscription{
    background-image: url("img/backgroundinscription.jpg");
    background-size: cover;
}

#fullFormInscription{
    width: 50% ;
    height: 300px ;
    margin: 0 auto ;
    margin-top: 5% ;
    padding-top: 3% ;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
}

#titreInscription{
    color: white ;
    font-size: 30px ;
    background-color: rgb(255, 0, 0, 0.5);
    width: 50%;
    margin: 0 auto ;
}

#formInscription{
    width: 50% ;
    margin: 0 auto ;
    color: red ;
    background-color:  rgb(255, 223, 195, 0.5) ;
}

#buttonInscription{
    width: 30% ;
    margin: 0 auto ;
    margin-top: 3%;
    background-color: rgb(255, 136, 62, 0.5);
    border-radius: 10px;

}


#buttonInscription input {
    border-radius: 10px ;
    
}



/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/

#bodyconnexion{
    
}

#fullFormConnexion{
    width: 50% ;
    height: 400px ;
    margin: 0 auto ;
    padding-top: 17.45%;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
}

#titreConnexion{
    color: white ;
    font-size: 30px ;
    background-color: orange;
    width: 50%;
    margin: 0 auto ;
    border-radius: 15px 15px 0px 0px;
}

#formConnexion{
    width: 50% ;
    margin: 0 auto ;
    color: black;
    background-color:  rgb(255, 223, 195, 0.5) ;
    padding-bottom: 3%;
    border-radius: 0px 0px 15px 15px;
    font-family: 'Roboto';
}

#buttonConnexion{
    width: 30% ;
    margin: 0 auto ;
    margin-top: 3%;
    border-radius: 10px;
    padding: 2%;
}


#buttonConnexion input {
    border-radius: 10px ;
    
}

/*-----------------------FOOTER-------------------*/
/*-----------------------FOOTER-------------------*/
/*-----------------------FOOTER-------------------*/
/*-----------------------FOOTER-------------------*/
/*-----------------------FOOTER-------------------*/
/*-----------------------FOOTER-------------------*/
/*-----------------------FOOTER-------------------*/
/*-----------------------FOOTER-------------------*/

footer{
    background-color: orange;
    font-size: 30px;
    height: 200px;
    border-top: 2px solid white;
    text-align: center;
    font-family: 'Roboto';
}