html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

main{
    padding-bottom: 10%;
}


/*-----------------------HEADER / FOOTER-------------------*/
/*-----------------------HEADER / FOOTER-------------------*/
/*-----------------------HEADER / FOOTER-------------------*/
/*-----------------------HEADER / FOOTER-------------------*/
/*-----------------------HEADER / FOOTER-------------------*/
/*-----------------------HEADER / FOOTER-------------------*/
/*-----------------------HEADER / FOOTER-------------------*/
/*-----------------------HEADER / FOOTER-------------------*/

header{
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0 ;
}

#topofheader{
    height: 100px;
    background-color: orange;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

#sardinelogo{
    width: 50%;
}

#h1titre{
    text-align: center;
    font-size: 35px;
    font-family: 'Fjalla One';
}

#headermenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    background-color: rgb(156, 156, 156);
    font-family: 'Roboto';
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

header a
{
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
}

#headermenu a:hover{
    background-color: rgba( 238, 238, 238, 0.281);
}

footer{
    background-image: url(img/footer.jpg);
    background-repeat: no-repeat;
 
    position: fixed;
    bottom: 0 ;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: blue;
}

footer a
{
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
}

#footermenu{
    text-align: center;
    width: 20%;
    height: 200px;
    font-size: 25px;
    background-color: rgb(156, 156, 156);
    font-family: 'Roboto';
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    
}

#footermenu a:hover{
    background-color: rgba( 238, 238, 238, 0.281);
}

#logo{
    margin-left: 5%;
    width: 20%;
}

#sectionReseaux{
    width: 20%;
}


.reseaux{
    width: 20%;
}










/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/
/*-----------------------INDEX-------------------*/


#bodyindex{
    background-image: url(img/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;

}

#mainindex{
    
}


#titreIndex{
    background-image: radial-gradient(red, green);
    font-size: 30px ;
    width: 100% ;
    padding-top: 1px;
    height: 150px ;
    text-align: center;
}

#titreIndex a{
    color: white;
}



.tableindex{
    font-size: 2vw;
    margin-top: 10%;
    padding:15px;
    text-align: center;
    border: 4px black solid;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.tableindex a {
    color: white ;
}



/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/
/*-----------------------INSCRIPTION-------------------*/

#bodyInscription{
    padding-top: 10%;
    background-image: url("img/inscription.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}

#fullFormInscription{
    
    height: 300px ;
    margin: 0 auto ;
    margin-top: 5% ;
    padding-top: 3% ;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
    border : 10px solid white   ;
}

#titreInscription{
    color: white ;
    font-size: 30px ;
    background-color: rgb(255, 0, 0, 0.5);
    width: 50%;
    margin: 0 auto ;
}

#formInscription{
    width: 50% ;
    margin: 0 auto ;
    color: red ;
    background-color:  rgb(255, 223, 195, 0.5) ;
}

#buttonInscription{
    width: 30% ;
    margin: 0 auto ;
    margin-top: 3%;
    background-color: rgb(255, 136, 62, 0.5);
    border-radius: 10px;

}


#buttonInscription input {
    border-radius: 10px ;
    
}




/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/
/*-----------------------CONNEXION-------------------*/

#bodyConnexion{
    background-image: url(img/connexion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
}

#fullFormConnexion{
   height: 300px ;
    margin: 0 auto ;
    margin-top: 5% ;
    padding-top: 3% ;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
    border : 10px solid white   ;
}

#titreConnexion{
    color: white ;
    font-size: 30px ;
    background-color: rgb(255, 0, 0, 0.5);
    width: 50%;
    margin: 0 auto ;
}

#formConnexion{
    font-size: 20px;
    
    width: 50% ;
    margin: 0 auto ;
    color: red ;
    background-color:  rgb(255, 223, 195, 0.5) ;
}

#buttonConnexion{
    width: 30% ;
    margin: 0 auto ;
    margin-top: 3%;
    background-color: rgb(255, 136, 62, 0.5);
    border-radius: 10px;

}


#buttonConnexion input {
    border-radius: 10px ;
    
}



/*-----------------------Reservation-------------------*/
/*-----------------------Reservation-------------------*/
/*-----------------------Reservation-------------------*/
/*-----------------------Reservation-------------------*/
/*-----------------------Reservation-------------------*/
/*-----------------------Reservation-------------------*/
/*-----------------------Reservation-------------------*/
/*-----------------------Reservation-------------------*/

#mainReservation{
    padding-top : 10% ;
    background-image: url(img/resa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}

#sectionFormReservation{
    background-color: rgb(0, 0, 0, 0.5);
    border : 10px solid white ;
    height: 300px;
    padding: 3%;
}

#formReservation{
    width: 50%;
    margin : 0 auto;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 3%;
    text-align: center;
}

.erreurResa{
    margin: 0 auto;
    background-color: rgb(0, 0, 0, 0.5);
    color: white ;
    font-size: 30px ;
    margin-top: 5%;
}

.placeDispo{
    margin: 0 auto;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5); 
    color: white;
    font-size: 30px ;
    margin-top: 5%;
}

.infoResaUser{
    width: 50%;
    text-align: center;
    margin: 0 auto ;
    color: white ;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 30px ;
    margin-top: 5%;
}




/*-----------------------PROFIL-------------------*/
/*-----------------------PROFIL-------------------*/
/*-----------------------PROFIL-------------------*/
/*-----------------------PROFIL-------------------*/
/*-----------------------PROFIL-------------------*/
/*-----------------------PROFIL-------------------*/
/*-----------------------PROFIL-------------------*/
/*-----------------------PROFIL-------------------*/


#mainprofil{
    padding-top: 10%;
    background-image: url(img/profilbackground.jpg);
    background-size: cover; 

    
}


.formulaireprofil{
    width: 30%;
    height: 400px;
    margin: 0 auto ;
    text-align: center;
    color: white;
    background-color: rgb(232, 13, 12, 0.5);
}



.infoprofil{
    padding : 3%;
    margin: 0 auto ;
    width: 40%;
    height: 200px;
    text-align: center;
    background-color: rgb(255, 120, 13, 0.5);
}

#reservationUser{
    margin: 0 auto ;
    width: 50%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5); ;
    font-size: 20px;
    color: white ;
}

#tableauReservationProfil{
    padding-bottom: 10%;
    margin: 0 auto ;
    width: 50%;
    text-align: center;
    color: black;
}

#backprofil{
    font-size: 1vw;

    background-color: rgb(253, 228, 82) ;
}

#tableReservationProfil td {
    border-style: solid;
    width: 13%;
    background-color: white ;

}


#tableReservationProfil tr {
    border-style: solid;
    width: 13%;
    background-color: white ;

}


/*-----------------------Planning-------------------*/
/*-----------------------Planning-------------------*/
/*-----------------------Planning-------------------*/
/*-----------------------Planning-------------------*/
/*-----------------------Planning-------------------*/
/*-----------------------Planning-------------------*/
/*-----------------------Planning-------------------*/
/*-----------------------Planning-------------------*/

#bodyPlanning{
    padding-top: 10%;
    background-image: url(img/backplanning.jpg);
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
}

#titrePlanning{
    margin : 0 auto 50px;
    width: 50%;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 2em;
    border: 3px white solid;
}

.tablePlanning{
    width: 70%;
    margin: 0 auto 1%;
    border-collapse: collapse;
   
   
    color :#ffffff;
    background-image:linear-gradient( rgba(105, 120, 58, 0.856),rgb(47, 110, 134));
    font-size: 0.8vw;
    font-weight: bold;
    border-radius: 3em;
    

}

.tablePlanning a{
    color: rgb(252, 67, 67);
    font-size: large;
    text-decoration: none;
}

.tablePlanning td {
    width: 10%;
    padding: 1%;
    text-align: center;
}

.oui{
    color: rgb(255, 145, 0);
    font-size:x-large;
}

.non{
    color: rgb(88, 43, 131);
    font-size:x-large;
}



/*-----------------------Admin-------------------*/
/*-----------------------Admin-------------------*/
/*-----------------------Admin-------------------*/
/*-----------------------Admin-------------------*/
/*-----------------------Admin-------------------*/
/*-----------------------Admin-------------------*/
/*-----------------------Admin-------------------*/
/*-----------------------Admin-------------------*/

#bodyAdmin{
    padding-top: 10%;
    background-image: url(img/adminbackground.jpg);
    background-size: cover ;
     
}

#titreAdmin{
    margin: 0 auto ;
    width: 50%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: white ;
    font-size: 20px ;
}

.sectionadmin{
    
    margin:0px auto 130px;
    width: 50%;
    height: 280px;
    border: 10px black solid;
    border-radius: 2em 0em 0em 2em;
    background-color: bisque;
    overflow-y: auto;    
}


.infoEmplacement{
    margin: 0 auto ;
    width: 50%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: white ;
    font-size: 20px;
}

#modifPrix{
    padding: 1%;
    margin: 0 auto;
    padding-bottom: 2%;
    width: 50%;
    text-align: center;
    background-image:linear-gradient( rgba(255, 208, 80, 0.719),rgb(255, 255, 255),rgba(255, 217, 0, 0.486));
    color: rgb(0, 0, 0) ;
    border-radius: 2em;
    font-size: 2vw;
    border:10px rgb(255, 158, 79) solid;
}

.titretarif{
    font-size: 3vw;
    color: gold;
    background-color: indianred;
    border-radius: 0.5em;
}

.inputtarif{
    margin: 1.5%;
    width: 5%;
    font-size: x-large;
    background-color: rgba(248, 128, 112, 0.534);
    font-weight: bold;
   text-align: center;
   border-radius: 0.5em;

}

.inputtarifv{
    margin: 5% 0 3% 0;
    padding: 0 2%;
    width: auto;
    font-size: xx-large;
    border-radius: 2em;
}







.erreur{

    margin: 0 auto ;
    width: 50%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: white ;
    font-size: 20px ;
}